.container {
    display: flex;
    justify-content: space-between;
}
.team-section {
    width: 90%;
    border: 1px solid #ccc;
    padding: 15px;
}
.player-year-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.dropdowns {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.player-dropdowns {
    width: 85%;
}
.year-dropdowns {
    width: 15%;
}
.player-year-label{
    padding: 0 2%;
}
select {
    width: 40%;
}
.scoreboard {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}
.player-score {
    margin-right: 10px;
}

.positions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10%; /* Reduced width to just fit the text + slight margin */
    padding: 0 10px; /* Added horizontal padding */
    border-left: none;
    border-right: none;
}
.position-header {
    height: 100px;
}
.position-footer {
    height: 15px;
}
.position {
    font-size: 1.2em; /* Reduced the font-size to fit the design */
    font-weight: bold;
    margin: 2% 0; /* Adjusted margin to make them closer */
}