<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draft Battles</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/homepage.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
    <script src="{% static 'main/js/homepage.js' %}" defer></script>
</head>

<body class="background" style="background-image: url('{% static 'main/media/nfl_field.png' %}'); background-position: center 40%;">
    <div class="container">
        <img class="logo" src="{% static 'main/media/draft_battles_logo.png' %}">

        <a class="home-btn" href="{% url 'play_game' %}?mode=1qb">
            <img class="qb1-img" src="{% static 'main/media/1qb.png' %}">
            <span class="qb1-text">Play 1 QB</span>
        </a>
        
        <a class="home-btn" href="{% url 'play_game' %}?mode=sflx">
            <img class="superflex-img" src="{% static 'main/media/superflex.png' %}">
            <span class="superflex-text">Play Superflex</span>
        </a>

        <button class="home-btn how-to-btn" type="button">
            <img class="how-to-img" src="{% static 'main/media/how_to_play.png' %}">
            <span class="how-to-text">How to Play</span>
        </button>

        <button class="home-btn beer-btn" type="button">
            <img class="beer-img" src="{% static 'main/media/beer.png' %}">
            <span class="beer-text">Buy Me a Beer</span>
        </button>
    </div>

    <div id="how-to-popup"  class="popup">
        <h3>How to Play</h3>
        <p>The goal of this game is to draft the best team of NFL players (past or present)...</p>
        <button class="close-popup close-how-to-button" type="button"></button>
    </div>

    <div id="beer-popup"  class="popup">
        <h3>But Me a Beer</h3>
        <p>If you liked this game, please buy me a beer.</p>
        <button class="close-popup close-beer-button" type="button"></button>
    </div>
</body>
</html>