<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draft Battles</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/homepage.css' %}">
</head>

<body class="background" style="background-size: auto cover; background-repeat: no-repeat; background-position: center 40%; background-attachment: scroll; background-image: url('{% static 'main/media/nfl_field.png' %}');">
    <div class="container">
        <img class="logo" src="{% static 'main/media/draft_battles_logo.png' %}">
        <a href="{% url 'play_game' %}?mode=1qb"><button><img class="gamemode-img" src="{% static 'main/media/1qb.png' %}">Play 1 QB</button></a>
        <a href="{% url 'play_game' %}?mode=sflx"><button><img class="gamemode-img" src="{% static 'main/media/superflex.png' %}">Play Superflex</button></a>
    </div>
</body>
</html>