<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draft Battles</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/homepage.css' %}">
</head>

<body class="background" style="background-image: url('{% static 'main/media/nfl_field.png' %}'); background-position: center 40%;">
    <div class="container">
        <img class="logo" src="{% static 'main/media/draft_battles_logo.png' %}">

        <a href="{% url 'play_game' %}?mode=1qb">
            <button type="button">
                <div>
                    <img class="qb1-img" src="{% static 'main/media/1qb.png' %}">
                    <span class="gamemode-text">Play 1 QB</span>
                </div>
            </button>
        </a>
        
        
        <a href="{% url 'play_game' %}?mode=sflx">
            <button type="button">
                <div>
                    <img class="superflex-img" src="{% static 'main/media/superflex.png' %}">
                    <span class="gamemode-text" style="padding-top: 0.5vh">Play Superflex</span>
                </div>
            </button>
        </a>

        <button class="how-to-button" type="button">
            <div>
                <img class="how-to-img" src="{% static 'main/media/how_to_play.png' %}">
                <span class="how-to-text">How to Play</span>
            </div>
        </button>
        <div class="how-to-popup popup">
            <h3>How to Play</h3>
            <p>The goal of this game is to draft the best team of NFL players (past or present)...</p>
        </div>

        <button class="beer-button" type="button">
            <div>
                <img class="beer-img" src="{% static 'main/media/beer.png' %}">
                <span class="beer-text">Buy Me a Beer</span>
            </div>
        </button>

    </div>
</body>
</html>