<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draft Battles Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/play_game.css' %}">
    
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />       <!-- Select2 CSS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>                                             <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>                  <!-- Select2 JS -->
    <script src="{% static 'main/js/play_game.js' %}" defer></script>

</head>
<body>
    <div class="container">

        <!-- Team 1 Section -->
        <div class="team-section">
            <div class="scoreboard">0.0</div>
            <h2>Team 1</h2>

            {% for _ in "1234567"|make_list %}
            <div class="player-year-pair">
                <div class="dropdowns">
                    <label class="player-year-label">Player</label>
                    <select class="player-dropdowns" id="team1_player_{{ forloop.counter }}" name="team1_player_{{ forloop.counter }}"></select>

                    <label class="player-year-label">Year</label>
                    <select class="year-dropdowns" name="team1_year_{{ forloop.counter }}"></select>
                </div>

                <div class="player-score">0.0</div>

                <button type="submit">Submit</button>
            </div>
            {% endfor %}
        </div>

        <!-- Positions Section -->
        <div class="positions">
            <div class="position-header"></div>
            {% for position in positions_list %}
                <div class="position">{{ position }}</div>
            {% endfor %}
            <div class="position-footer"></div>
        </div>

        <!-- Team 2 Section -->
        <div class="team-section">
            <div class="scoreboard">0.0</div>
            <h2>Team 2</h2>

            {% for _ in "1234567"|make_list %}
            <div class="player-year-pair">
                <div class="dropdowns">
                    <label class="player-year-label">Player</label>
                    <select class="player-dropdowns" id="team2_player_{{ forloop.counter }}" name="team2_player_{{ forloop.counter }}"></select>

                    <label class="player-year-label">Year</label>
                    <select class="year-dropdowns" name="team2_year_{{ forloop.counter }}"></select>
                </div>

                <div class="player-score">0.0</div>

                <button type="submit">Submit</button>
            </div>
            {% endfor %}
        </div>

    </div>
</body>
</html>