* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    background-size: auto cover; 
    background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-size: auto 180vh; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: scroll;
}

.container {
    display: flex;
    flex-direction: column;
}

.logo {
    margin-top: 2%;
    margin-bottom: 1vh;
    height: 48vh;
    align-self: center;
}

.home-btn {
    box-sizing: border-box;
    cursor: pointer;
    height: 8vh;
    width: 32vh;
    margin: 0.5vh auto;
    background-color: gold;
    border-radius: 2vh;
    border: 0.5vh solid black;
    font-size: 2.5vh;
    color: black;
    font-weight: bold;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.qb1-img {
    height: 6.5vh;
    position: absolute;
    bottom: 0;
    left: 1vh;
}
.qb1-text {
    margin-left: 5vh;
}
.superflex-img {
    height: 7.3vh;
    position: absolute;
    bottom: 0;
    left: 0.5vh;
}
.superflex-text {
    margin-left: 7vh;
}

.popup {
    display: none;
    width: 80vh;
    height: 60vh;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.5vh solid black;
    border-radius: 5vh;
}
#how-to-popup{
    background: rgb(255, 77, 77);
}
#beer-popup{
    background: rgb(88, 188, 255);
}
.close-popup {
    position: absolute;
    left: 73vh;
    top: -3vh;
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
    background: gray;
    border: 0.5vh solid black;
    cursor: pointer;
}

.how-to-img {
    height: 4vh;
    margin-right: 3.5vh;
    margin-left: -2vh;
}
.beer-img {
    height: 4vh;
    margin-right: 2vh;
    margin-left: -0.5vh;
}

/* To prevent purple underlines under button text */
a, a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    color: inherit; 
}



/* Media query for smaller screens */
@media only screen and (max-width: 768px) { /* You can change '768px' to the breakpoint you prefer */
    .logo {
        margin-top: 10%;
        height: 40vh;
    }

    .popup {
        width: 40vh;
    }

    .close-popup {
        left: 34vh;
        top: -2vh;
        width: 8vh;
        height: 8vh;
    }
}