* {
    text-align: center;
}

.background {
    background-size: auto cover; 
    background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-size: auto 180vh; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: scroll;
}

.container {
    display: flex;
    flex-direction: column;
}

.logo {
    margin-top: 2%;
    margin-bottom: 1vh;
    height: 50vh;
    align-self: center;
}

button {
    cursor: pointer;
    height: 8vh;
    width: 32vh;
    margin: 0.5vh;
    background-color: gold;
    border-radius: 2vh;
    border: 0.5vh solid black;
    font-size: 2.5vh;
    color: black;
    font-weight: bold;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 0;
    justify-content: center;
}

button > div {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
}

.gamemode-text {
    align-self: center;
}

.qb1-img {
    height: 6.5vh;
    margin-left: -4vh;
    margin-right: 3vh;
}
.superflex-img {
    height: 7.3vh;
    margin-left: -1.9vh;
    margin-right: 0.6vh;
}

/* To prevent putple underlines under button text */
a, a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    color: inherit; 
}



/* Media query for smaller screens */
@media only screen and (max-width: 768px) { /* You can change '768px' to the breakpoint you prefer */
    .logo {
        margin-top: 10%;
        height: 40vh;
    }

    .qb1-img {
        height: 6.5vh;
        margin-left: -4vh;
        margin-right: 3vh;
    }
    .superflex-img {
        height: 7.3vh;
        margin-left: -1.8vh;
        margin-right: 0.5vh;
    }
}