body {
    background-color: rgb(150, 150, 150);
    margin: 0;
}

.header {
    background-color: rgb(70, 70, 70);
    height: 8vh;
    margin-bottom: 1vh;
}

.container {
    height: 85vh;
    display: flex;
    justify-content: space-between;
}
.team-section {
    width: 46%;
    padding: 15px;
    background-color: gold;
    border: 1vh solid black;
    margin: 0.8vh;
    border-radius: 15px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
}

.pos-scoreboard {
    height: 5.2vh;
    padding: 13px;
    margin-bottom: 20px;
}
.pos-header {
    margin-top: 10px;
    font-size: 2vh;
    padding: 0;
    line-height: 0;
}
.positions-section {
    margin: 0.8vh;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: none;
    border-right: none;
    color: white;
}

.player-section {
    flex-grow: 1;             /* Allow this section to grow and take available space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Distribute space between player rows */
}

.player-row {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-position {
    display: none;
}
.select2-selection__rendered {
    line-height: 35px !important;
}
.select2-container .select2-selection--single {
    height: 39px !important;
}
.select2-selection__arrow {
    height: 38px !important;
}
.dropdowns {
    width: 75%;
}
.player-dropdowns {
    width: 85%;
}
.year-dropdowns {
    width: 13%;
    height: 39px;
}
.player-score {
    width: 10%;
    font-size: 1.5em;
    text-align: center;
}

button {
    width: 10%;
    padding: 5px 0px;
    font-size: 0.9em;
}

.remove-button {
    color: red;
}
.scoreboard-container {
    background-color: black;
    border: 3px solid silver;
    width: 16vh; 
    height: 5.2vh; 
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
}
.scoreboard {
    text-align: right;
    font-size: 3.2vh;
    color: white; /* Making the text color white or any other color that you prefer */
    font-family: '60s Scoreboard', sans-serif;
    padding-right: 10px;
}

.header-section {
    display: flex;
    text-align: center;
    justify-content: left;
    margin-top: 10px;    /* Reduce or remove this if it contributes to height */
    margin-bottom: 0px;    /* Reduce or remove this if it contributes to height */
    padding: 0px 0;         /* Adjust padding as needed */
    font-size: 2vh;       /* Adjust font size as needed */
    line-height: 0;       /* Adjust line height as needed */
}
.player-header {
    width: 63.5%;  /* matches .player-dropdowns width */
}

.season-header {
    width: 10%;  /* matches .year-dropdowns width */
}

.points-header {
    width: 18%;  /* matches button width (though you might need a slight adjustment here) */
}

.position {
    flex-grow: 1;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;        /* Convert to flex container to vertically center the text */
    align-items: center;  /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
}



/* Media query for smaller screens */
@media only screen and (max-width: 768px) { /* You can change '768px' to the breakpoint you prefer */
    .container {
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .team-section {
        width: 100%; /* Make the team sections full width */
        height: 70vh; /* Adjust the height to be auto so it scales with the content */
        margin: 10px 0; /* Add some vertical space between the teams */
    }

    .positions-section {
        display: none;
    }
    

    .mobile-position {
        display: inline;
        font-size: 0.8em;
        font-weight: bold;
        text-align: center;
        width: 10%;
    }
    .player-dropdowns {
        width: 69%;
    }
    .year-dropdowns {
        width: 21%;
        height: 39px;
        margin-right: 0px;
    }
    .player-score {
        width: 15%;
        font-size: 1.5em;
        text-align: center;
        padding-right: 10px;
        padding-left: 0;
    }
    button {
        width: 15%;
        height: 30px;
        padding: 5px 0px;
        font-size: 0.65em;
    }

    .header-section {
        justify-content: space-between;
        text-align: center;
        margin-left: 10%;
        margin-right: 16%;
    }
    .player-header {
        width: 42%;  /* matches .player-dropdowns width */
    }
    
    .season-header {
        width: 18%;  /* matches .year-dropdowns width */
    }
    
    .points-header {
        width: 20%;  /* matches button width (though you might need a slight adjustment here) */
    }
}