body {
    background-color: black;
}
.container {
    display: flex;
    justify-content: space-between;
}
.team-section {
    width: 45%;
    height: 85vh;
    padding: 15px;
    background-color: gold;
    margin: 20px;
    border-radius: 15px;  
}
.player-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 7%;
}
.dropdowns {
    display: flex;
    justify-content: space-between;
    width: 75%;
}
.player-dropdowns {
    width: 82%;
}
.year-dropdowns {
    width: 15%;
}
.player-label{
    padding: 0 1% 0 0;
}
.year-label{
    padding: 0 1% 0 1%;
}
.scoreboard-container {
    background-color: black;
    border: 3px solid silver;
    width: 9em; 
    margin: 0 auto; /* This will center the scoreboard in the team section */
    padding: 10px;
    margin-bottom: 20px;
}
.scoreboard {
    text-align: right; /* Right justified text */
    font-size: 2em;
    color: white; /* Making the text color white or any other color that you prefer */
    font-family: '60s Scoreboard', sans-serif;
}
.player-score {
    font-size: 1.5em;
}

.positions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 5%;
    padding: 0 5px;
    border-left: none;
    border-right: none;
    color: white;
}
.header-section {
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}

.position-header {
    height: 140px;
}
.position-footer {
    height: 15px;
}
.position {
    font-size: 1.5em;
    font-weight: bold;
    margin: 2% 0;
}

button {
    width: 10%;
    padding: 5px 0px;
    font-size: 0.75em;
}

.remove-button {
    color: red;
}